In [1]:
a = (1,2,3)

In [2]:
print(a)

(1, 2, 3)

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
b , c = 3, 4
print(b)
print(c)

e = 1,2
print(e)
print(type(e))

3
4
(1, 2)
<class 'tuple'>

In [7]:
e[0]

1

In [8]:
e[-1]

2

In [17]:
t = (1,2,3,4,5,6)
t[0:3]

(1, 2, 3)

In [18]:
t[3:]

(4, 5, 6)

In [19]:
# tuples are immutable
t[4] = 32

TypeError: 'tuple' object does not support item assignment

In [20]:
del t # deleting the whole tuple

In [21]:
t

NameError: name 't' is not defined