In [1]:
a = (1,2,3)
b = 4,5

In [3]:
# for loop
for i in a :
    print(i)

1
2
3

In [4]:
# membership
1 in a

True

In [6]:
4 in a

False

In [7]:
len(a)

3

In [8]:
#concatenation
c = a + b
c

(1, 2, 3, 4, 5)

In [9]:
d = (a,b)
d

((1, 2, 3), (4, 5))

In [11]:
# repition
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
min(a)

1

In [13]:
max(a)

3

In [14]:
a2 = (1,2,'a',(1,2))

In [15]:
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [16]:
a3 = (1,2.2)
min(a3)

1

In [17]:
#list two tuple
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)