In [5]:
li = [1,2,3,4]
# i want square of every element in new list

In [6]:
li_new = []
for i in li:
    li_new.append(i**2)
print(li_new)

[1, 4, 9, 16]

In [8]:
li_new_c = [ele**2 for ele in li]
li_new_c

[1, 4, 9, 16]

In [10]:
li_new_even = [ele**2 for ele in li if(ele % 2== 0) ]
li_new_even

[4, 16]

In [11]:
li = [1,2,3,4,5,6,7,8,9]
# i want a new list of ele which are multiple of 2 or 3
li_new = [ele for ele in li if((ele%2==0) or (ele%3 == 0))]
li_new

[2, 3, 4, 6, 8, 9]

In [13]:
# i want a new list of ele which are multiple of 2 and 3
li_new_and = [ele for ele in li if ele % 2 == 0 if ele%3 == 0]
li_new_and

[6]

In [14]:
# multiple for loop
li_1 = [1,2,3,4,5]
li_2 = [2,4,6,7]
# i want common of both list
li_common = [i for i in li_1 for j in li_2 if(i == j) ]
li_common

[2, 4]

In [16]:
# if else condition
li = [1,2,3,4,5]
# if multiple of 2 then ele**2  or ele only
li_ie = [ele**2 if (ele % 2 == 0) else ele for ele in li]
li_ie

[1, 4, 3, 16, 5]

In [17]:
# generating list of lists
a = "Pramit"
# i want every char in a list
li_char = [list(char) for char in a]
li_char

[['P'], ['r'], ['a'], ['m'], ['i'], ['t']]

In [18]:
a = "pramit"
li_char1 = [char for char in a]
li_char1

['p', 'r', 'a', 'm', 'i', 't']

In [20]:
#list of list
li = ["pramit","shirsendu","rajesh"]
li_nested = [list(ele) for ele in li]
li_nested

[['p', 'r', 'a', 'm', 'i', 't'],
 ['s', 'h', 'i', 'r', 's', 'e', 'n', 'd', 'u'],
 ['r', 'a', 'j', 'e', 's', 'h']]

In [21]:
li = ["pramit","shirsendu","rajesh"]
li_nested1 = [[i for i in ele] for ele in li]
li_nested1

[['p', 'r', 'a', 'm', 'i', 't'],
 ['s', 'h', 'i', 'r', 's', 'e', 'n', 'd', 'u'],
 ['r', 'a', 'j', 'e', 's', 'h']]